name: PR Checks

on:
  pull_request:
    branches: [ main ]

env:
  API_KEY: ${{ secrets.API_KEY }}
  APP_ID: ${{ secrets.APP_ID }}
  PSG_JWT: ${{ secrets.PSG_JWT }}
  TEST_USER_ID: ${{ secrets.TEST_USER_ID }}

jobs:
  build:
    name: Test and Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'

    - name: Run Tests
      run: |
        gem build passageidentity.gemspec -o test.gem
        gem install test.gem
        ruby tests/all.rb
    - name: Run Linting
      run: |
        npm install -g prettier @prettier/plugin-ruby
        gem install bundler prettier_print syntax_tree syntax_tree-haml syntax_tree-rbs
        prettier --check '**/*.rb'